<body class="page page-id-2558 page-parent page-template-default custom-header header-full-width full-width-content" itemscope itemtype="http://schema.org/WebPage">
   <div class="site-container">
      <div class="header-fill" id="top"></div>
      <header class="site-header" itemscope itemtype="http://schema.org/WPHeader">
         <div class="wrap">
            <div class="title-area">
               <p class="site-title" itemprop="headline"><a href="http://www.korenlc.com/">Koren Leslie Cohen</a></p>
               <p class="site-description" itemprop="description">PRODUCT MANAGER / ATTORNEY / SOFTWARE ENGINEER</p>
            </div>
            <nav class="nav-primary" itemscope itemtype="http://schema.org/SiteNavigationElement">
               <div class="wrap">
                  <ul id="menu-top-nav" class="menu genesis-nav-menu menu-primary">
                     <li id="menu-item-2659" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2659"><a href="/#about" itemprop="url"><span itemprop="name">About</span></a></li>
                     <li id="menu-item-2532" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2532"><a href="http://www.korenlc.com/resume/" itemprop="url"><span itemprop="name">Resume</span></a></li>
                     <li id="menu-item-2705" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2558 current_page_item menu-item-2705"><a href="http://www.korenlc.com/portfolio/" itemprop="url"><span itemprop="name">Portfolio</span></a></li>
                     <li id="menu-item-2531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2531">
                        <a href="http://www.korenlc.com/blog/" itemprop="url"><span itemprop="name">Blog</span></a>
                        <ul class="sub-menu">
                           <li id="menu-item-2972" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2972"><a href="http://www.korenlc.com/category/ruby-rails/" itemprop="url"><span itemprop="name">Ruby / Rails</span></a></li>
                           <li id="menu-item-2973" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2973"><a href="http://www.korenlc.com/category/javascript/" itemprop="url"><span itemprop="name">JavaScript</span></a></li>
                           <li id="menu-item-2976" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2976"><a href="http://www.korenlc.com/blog/" itemprop="url"><span itemprop="name">View All</span></a></li>
                        </ul>
                     </li>
                     <li id="menu-item-2533" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2533"><a target="_blank" href="http://github.com/korenlesliecohen" itemprop="url"><span itemprop="name">GitHub</span></a></li>
                     <li id="menu-item-1966" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1966"><a target="_blank" href="https://feedburner.google.com/fb/a/mailverify?uri=korenlesliecohen&#038;loc=en_US" itemprop="url"><span itemprop="name">Subscribe</span></a></li>
                     <li id="menu-item-1950" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1950"><a href="/#contact" itemprop="url"><span itemprop="name">Contact</span></a></li>
                  </ul>
               </div>
            </nav>
         </div>
      </header>
      <div class="site-inner">
         <div class="content-sidebar-wrap">
            <main class="content" id="index-content">
               <p class="comment-count-list">0 comments</p>
               <p class="post-categories"></p>
               <article class="post-2558 page type-page status-publish entry" itemscope itemtype="http://schema.org/CreativeWork">
                  <header class="entry-header">
                     <h1 class="entry-title" itemprop="headline">Portfolio</h1>
                  </header>
                  <div class="entry-content" itemprop="text">
                     <h2 style="text-align: center;">A RECENT COLLECTION</h2>
                     <div class="one-half first">
                        <p>
                           <a href="http://www.korenlc.com/portfolio/dollar-shave-club-reviews/">
                        </p>
                        <div class="outer-box">
                        <img class="aligncenter wp-image-2852 size-full" src="http://www.korenlc.com/wp-content/uploads/2016/01/Reviews-thumb-1.png" alt="ratings and reviews product manager" width="370" height="250" srcset="http://www.korenlc.com/wp-content/uploads/2016/01/Reviews-thumb-1-300x203.png 300w, http://www.korenlc.com/wp-content/uploads/2016/01/Reviews-thumb-1.png 370w" sizes="(max-width: 370px) 100vw, 370px" />
                        <div class="inner-box">
                            <h6>LEARN MORE</h6>
                        </div>
                        </div>
                        <p></a></p>
                        <h6 style="text-align: center;"><a title="Dollar Shave Club – Ratings &amp; Reviews" href="http://www.korenlc.com/portfolio/dollar-shave-club-reviews/">DOLLAR SHAVE CLUB &#8211; RATINGS &amp; REVIEWS</a></h6>
                        <h4 style="text-align: center;">PRODUCT MANAGER</h4>
                        <p>&nbsp;</p>
                     </div>
                     <div class="one-half">
                        <p>
                           <a href="http://www.korenlc.com/portfolio/big-cloud-by-dsc/">
                        <div class="outer-box">
                            <img class="aligncenter wp-image-2850 size-full" src="http://www.korenlc.com/wp-content/uploads/2016/01/Big-Cloud-1-thumb.png" alt="Big Cloud product manager los angeles" width="370" height="250" srcset="http://www.korenlc.com/wp-content/uploads/2016/01/Big-Cloud-1-thumb-300x203.png 300w, http://www.korenlc.com/wp-content/uploads/2016/01/Big-Cloud-1-thumb.png 370w" sizes="(max-width: 370px) 100vw, 370px" />
                        <div class="inner-box">
                        <h6>LEARN MORE</h6>
                        </div>
                        </div>
                        <p></a></p>
                        <h6 style="text-align: center;"><a title="Dollar Shave Club – Big Cloud" href="http://www.korenlc.com/portfolio/big-cloud-by-dsc/">DOLLAR SHAVE CLUB &#8211; BIG CLOUD</a></h6>
                        <h4 style="text-align: center;">PRODUCT MANAGER</h4>
                        <p>&nbsp;</p>
                     </div>
                     <div class="one-half first">
                        <p>
                           <a href="http://www.korenlc.com/portfolio/consign-nyc/">
                        <div class="outer-box"><img class="aligncenter wp-image-2576 size-full" src="http://www.korenlc.com/wp-content/uploads/2016/01/consignhome-thumb.png" alt="consign nyc ruby rails javascript" width="370" height="250" />
                        <div class="inner-box">
                        <h6>LEARN MORE</h6>
                        </div>
                        </div>
                        <p></a></p>
                        <h6 style="text-align: center;"><a title="CONSIGN.NYC" href="http://www.korenlc.com/portfolio/consign-nyc/">CONSIGN.NYC</a></h6>
                        <h4 style="text-align: center;">CREATOR, DESIGNER, DEVELOPER</h4>
                        <p>&nbsp;</p>
                     </div>
                     <div class="one-half">
                        <p>
                           <a href="http://www.korenlc.com/portfolio/j-crew-email-tool/">
                        <div class="outer-box"><img class="aligncenter wp-image-2606 size-full" src="http://www.korenlc.com/wp-content/uploads/2016/01/email-tool-thumb.png" alt="backbone handlebars" width="370" height="250" />
                        <div class="inner-box">
                        <h6>LEARN MORE</h6>
                        </div>
                        </div>
                        <p></a></p>
                        <h6 style="text-align: center;"><a title="J.Crew – Email Tool" href="http://www.korenlc.com/portfolio/j-crew-email-tool/">J.CREW &#8211; INTERNAL EMAIL TOOL</a></h6>
                        <h4 style="text-align: center;">PRODUCT OWNER, DEVELOPER</h4>
                        <p>&nbsp;</p>
                     </div>
                     <div class="one-half first">
                        <p>
                           <a href="http://www.korenlc.com/portfolio/j-crew-madewell-ship-confirm/">
                        <div class="outer-box"><img class="aligncenter wp-image-2655 size-full" src="http://www.korenlc.com/wp-content/uploads/2016/01/mw1-thumb.jpg" alt="apache velocity html email" width="370" height="250" />
                        <div class="inner-box">
                        <h6>LEARN MORE</h6>
                        </div>
                        </div>
                        <p></a></p>
                        <h6 style="text-align: center;"><a title="J.Crew / Madewell – Ship Confirm" href="http://www.korenlc.com/portfolio/j-crew-madewell-ship-confirm/">J.CREW / MADEWELL &#8211; SHIP CONFIRM</a></h6>
                        <h4 style="text-align: center;">DEVELOPER</h4>
                        <p>&nbsp;</p>
                     </div>
                     <div class="one-half">
                        <p>
                           <a href="http://www.korenlc.com/portfolio/fashion-week-party-invite/">
                        <div class="outer-box"><img class="aligncenter wp-image-2770 size-full" src="http://www.korenlc.com/wp-content/uploads/2016/01/chanel-thumb.png" alt="node.js sass express.js" width="370" height="250" srcset="http://www.korenlc.com/wp-content/uploads/2016/01/chanel-thumb-300x203.png 300w, http://www.korenlc.com/wp-content/uploads/2016/01/chanel-thumb.png 370w" sizes="(max-width: 370px) 100vw, 370px" />
                        <div class="inner-box">
                        <h6>LEARN MORE</h6>
                        </div>
                        </div>
                        <p></a></p>
                        <h6 style="text-align: center;"><a href="http://www.korenlc.com/portfolio/fashion-week-party-invite/">FASHION WEEK PARTY INVITE</a></h6>
                        <h4 style="text-align: center;">DESIGNER, DEVELOPER</h4>
                        <p>&nbsp;</p>
                     </div>
                     <div class="one-half first">
                        <p>
                           <a href="http://www.korenlc.com/portfolio/worldview/">
                        <div class="outer-box"><img class="aligncenter wp-image-2742 size-full" src="http://www.korenlc.com/wp-content/uploads/2016/01/worldview-thumb.png" alt="ruby on rails twitter oauth" width="370" height="250" srcset="http://www.korenlc.com/wp-content/uploads/2016/01/worldview-thumb-300x203.png 300w, http://www.korenlc.com/wp-content/uploads/2016/01/worldview-thumb.png 370w" sizes="(max-width: 370px) 100vw, 370px" />
                        <div class="inner-box">
                        <h6>LEARN MORE</h6>
                        </div>
                        </div>
                        <p></a></p>
                        <h6 style="text-align: center;"><a href="http://www.korenlc.com/portfolio/worldview/">WORLDVIEW</a></h6>
                        <h4 style="text-align: center;">DEVELOPER</h4>
                        <p>&nbsp;</p>
                     </div>
                     <div class="one-half">
                        <p>
                           <a href="http://www.korenlc.com/fashion-fixx-daily/">
                        <div class="outer-box"><img class="aligncenter wp-image-2750 size-full" src="http://www.korenlc.com/wp-content/uploads/2016/01/fashionfixx-thumb.png" alt="fashion sinatra ruby product manager los angeles" width="370" height="250" srcset="http://www.korenlc.com/wp-content/uploads/2016/01/fashionfixx-thumb-300x203.png 300w, http://www.korenlc.com/wp-content/uploads/2016/01/fashionfixx-thumb.png 370w" sizes="(max-width: 370px) 100vw, 370px" />
                        <div class="inner-box">
                        <h6>LEARN MORE</h6>
                        </div>
                        </div>
                        <p></a></p>
                        <h6 style="text-align: center;"><a href="http://www.korenlc.com/fashion-fixx-daily/">FASHION FIXX DAILY</a></h6>
                        <h4 style="text-align: center;">DEVELOPER</h4>
                        <p>&nbsp;</p>
                     </div>
                     <div class="one-half first">
                        <p>
                           <a href="http://www.korenlc.com/portfolio/i-heart-ny/">
                        <div class="outer-box"><img class="aligncenter wp-image-2803 size-full" src="http://www.korenlc.com/wp-content/uploads/2016/01/iheartny-thumb.png" alt="iheartny-thumb" width="370" height="250" srcset="http://www.korenlc.com/wp-content/uploads/2016/01/iheartny-thumb-300x203.png 300w, http://www.korenlc.com/wp-content/uploads/2016/01/iheartny-thumb.png 370w" sizes="(max-width: 370px) 100vw, 370px" />
                        <div class="inner-box">
                        <h6>LEARN MORE</h6>
                        </div>
                        </div>
                        <p></a></p>
                        <h6 style="text-align: center;"><a href="http://www.korenlc.com/portfolio/i-heart-ny/">I HEART NY</a></h6>
                        <h4 style="text-align: center;">DEVELOPER</h4>
                        <p>&nbsp;</p>
                     </div>
                     <div class="one-half">
                        <p>
                           <a href="http://www.korenlc.com/portfolio/accel-sports-management/">
                        <div class="outer-box"><img class="aligncenter wp-image-2760 size-full" src="http://www.korenlc.com/wp-content/uploads/2016/01/accel1-thumb.png" alt="bootstrap" width="370" height="250" srcset="http://www.korenlc.com/wp-content/uploads/2016/01/accel1-thumb-300x203.png 300w, http://www.korenlc.com/wp-content/uploads/2016/01/accel1-thumb.png 370w" sizes="(max-width: 370px) 100vw, 370px" />
                        <div class="inner-box">
                        <h6>LEARN MORE</h6>
                        </div>
                        </div>
                        <p></a></p>
                        <h6 style="text-align: center;"><a href="http://www.korenlc.com/portfolio/accel-sports-management/">ACCEL SPORTS MANAGEMENT</a></h6>
                        <h4 style="text-align: center;">DEVELOPER</h4>
                        <p>&nbsp;</p>
                     </div>
                     <div class="one-half first">
                        <a href="http://www.korenlc.com/portfolio/my-travel-journal/">
                           <div class="outer-box">
                              <img class="aligncenter wp-image-2948" src="http://www.korenlc.com/wp-content/uploads/2016/07/mytraveljournal-thumb.png" alt="ruby on rails product manager los angeles" width="370" height="250" srcset="http://www.korenlc.com/wp-content/uploads/2016/07/mytraveljournal-thumb-300x203.png 300w, http://www.korenlc.com/wp-content/uploads/2016/07/mytraveljournal-thumb.png 370w" sizes="(max-width: 370px) 100vw, 370px" />
                              <div class="inner-box">
                                 <h6>LEARN MORE</h6>
                              </div>
                           </div>
                           <p>
                        </a>
                        </p>
                        <h6 style="text-align: center;"><a href="http://www.korenlc.com/portfolio/my-travel-journal/">MY TRAVEL JOURNAL</a></h6>
                        <h4 style="text-align: center;">DEVELOPER</h4>
                        <p>&nbsp;</p>
                     </div>
                     <div class="one-half">
                        <a href="http://www.korenlc.com/portfolio/flatiron-postcard/">
                           <div class="outer-box">
                              <img class="aligncenter wp-image-2944" src="http://www.korenlc.com/wp-content/uploads/2016/07/flatpostcard-thumb.png" alt="ruby on rails product manager los angeles" width="370" height="250" srcset="http://www.korenlc.com/wp-content/uploads/2016/07/flatpostcard-thumb-300x203.png 300w, http://www.korenlc.com/wp-content/uploads/2016/07/flatpostcard-thumb.png 370w" sizes="(max-width: 370px) 100vw, 370px" />
                              <div class="inner-box">
                                 <h6>LEARN MORE</h6>
                              </div>
                           </div>
                           <p>
                        </a>
                        </p>
                        <h6 style="text-align: center;"><a href="http://www.korenlc.com/portfolio/flatiron-postcard/">FLATIRON POSTCARD</a></h6>
                        <h4 style="text-align: center;">DEVELOPER</h4>
                        <p>&nbsp;</p>
                     </div>
                     <div class="one-half first">
                        <a href="http://www.korenlc.com/portfolio/the-indecisive-shopper/">
                           <div class="outer-box">
                              <img class="aligncenter wp-image-2946" src="http://www.korenlc.com/wp-content/uploads/2016/07/gilt-sinatra-thumb.png" alt="ruby sinatra product manager los angeles" width="370" height="250" srcset="http://www.korenlc.com/wp-content/uploads/2016/07/gilt-sinatra-thumb-300x203.png 300w, http://www.korenlc.com/wp-content/uploads/2016/07/gilt-sinatra-thumb.png 370w" sizes="(max-width: 370px) 100vw, 370px" />
                              <div class="inner-box">
                                 <h6>LEARN MORE</h6>
                              </div>
                           </div>
                           <p>
                        </a>
                        </p>
                        <h6 style="text-align: center;"><a href="http://www.korenlc.com/portfolio/the-indecisive-shopper/">THE INDECISIVE SHOPPER</a></h6>
                        <h4 style="text-align: center;">DEVELOPER</h4>
                        <p>&nbsp;</p>
                     </div>
                     <div class="one-half">
                        <a href="http://www.korenlc.com/portfolio/wedding-guestbook/">
                           <div class="outer-box">
                              <img class="aligncenter wp-image-2953" src="http://www.korenlc.com/wp-content/uploads/2016/07/wedding-thumb.png" alt="ruby sinatra product manager los angeles" width="370" height="250" srcset="http://www.korenlc.com/wp-content/uploads/2016/07/wedding-thumb-300x203.png 300w, http://www.korenlc.com/wp-content/uploads/2016/07/wedding-thumb.png 370w" sizes="(max-width: 370px) 100vw, 370px" />
                              <div class="inner-box">
                                 <h6>LEARN MORE</h6>
                              </div>
                           </div>
                           <p>
                        </a>
                        </p>
                        <h6 style="text-align: center;"><a href="http://www.korenlc.com/portfolio/wedding-guestbook/">WEDDING GUESTBOOK</a></h6>
                        <h4 style="text-align: center;">DEVELOPER</h4>
                        <p>&nbsp;</p>
                     </div>
                     </p>
                     <div class="preloader"><span class="preloader-gif"></span></div>
                  </div>
               </article>
            </main>
         </div>
      </div>
      <div class="full-width-footer widget-area">
         <section id="null-instagram-feed-2" class="widget null-instagram-feed">
            <div class="widget-wrap">
               <ul class="instagram-pics instagram-size-large">
                  <li class=""><a href="//instagram.com/p/BQaxhy6jDBe" target="_blank"  class=""><img src="//scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c135.0.809.809/16464923_270156110080528_3927332870149898240_n.jpg"  alt="Salt Flats, Death Valley, 282 feet below sea level, lowest place in the United States ☠️💀 #deathvalley #deathvalleynationalpark #california" title="Salt Flats, Death Valley, 282 feet below sea level, lowest place in the United States ☠️💀 #deathvalley #deathvalleynationalpark #california"  class=""/></a></li>
                  <li class=""><a href="//instagram.com/p/BQTvjGvjfyL" target="_blank"  class=""><img src="//scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14583254_414902098842959_7491595821008289792_n.jpg?ig_cache_key=MTQ0NjcwOTAyNTkyNDA1NDE1NQ%3D%3D.2"  alt="Had a lovely month completely off social media, and will probably continue for a bit longer. Really helps you stay in the moment and appreciate what&#039;s around you. I highly suggest trying it! #tbt #portland" title="Had a lovely month completely off social media, and will probably continue for a bit longer. Really helps you stay in the moment and appreciate what&#039;s around you. I highly suggest trying it! #tbt #portland"  class=""/></a></li>
                  <li class=""><a href="//instagram.com/p/BOsfg8Ujn1X" target="_blank"  class=""><img src="//scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/16585464_267874390309977_4626205945645498368_n.jpg?ig_cache_key=MTQxNzY0NjU4NTk0OTM1NTM1MQ%3D%3D.2"  alt="Goodbye, 2016 - lots of fun adventures 💜 #hollywood #vietnam #seattle #joshuatree #malibu #nepal #china #hawaii #2016" title="Goodbye, 2016 - lots of fun adventures 💜 #hollywood #vietnam #seattle #joshuatree #malibu #nepal #china #hawaii #2016"  class=""/></a></li>
                  <li class=""><a href="//instagram.com/p/BOr9Z79DOCW" target="_blank"  class=""><img src="//scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c60.0.959.959/16230850_870636086410384_4123060912150020096_n.jpg?ig_cache_key=MTQxNzQ5NjU3MDkzNzI3MDQyMg%3D%3D.2.c"  alt="Celtics ☘️ #boston #family #celtics #winning" title="Celtics ☘️ #boston #family #celtics #winning"  class=""/></a></li>
                  <li class=""><a href="//instagram.com/p/BOqWZurjZU6" target="_blank"  class=""><img src="//scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c135.0.809.809/16585677_161846197652572_2918850565951717376_n.jpg?ig_cache_key=MTQxNzA0MzU1Nzg5NDQyNzk2Mg%3D%3D.2.c"  alt="Can&#039;t choose your family, but if I could... ☘️ #celtics #boston #bostonstrong" title="Can&#039;t choose your family, but if I could... ☘️ #celtics #boston #bostonstrong"  class=""/></a></li>
                  <li class=""><a href="//instagram.com/p/BOiGZ9uDOc0" target="_blank"  class=""><img src="//scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/16465120_1313688541987752_2495891266202501120_n.jpg?ig_cache_key=MTQxNDcyMTQwNTQ4NDU5MDkwMA%3D%3D.2"  alt="Like old times 📷: @_americasweetheart_ #boston #bff #newburystreet #shopping #home" title="Like old times 📷: @_americasweetheart_ #boston #bff #newburystreet #shopping #home"  class=""/></a></li>
                  <li class=""><a href="//instagram.com/p/BOh5ssNjkA9" target="_blank"  class=""><img src="//scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/16584034_248170512294360_313888686871674880_n.jpg?ig_cache_key=MTQxNDY2NTUxNzc1MTIyMjMzMw%3D%3D.2"  alt="Newbury Street 🛍 #boston #newburystreet #homefortheholidays" title="Newbury Street 🛍 #boston #newburystreet #homefortheholidays"  class=""/></a></li>
                  <li class=""><a href="//instagram.com/p/BOU4WTujI5M" target="_blank"  class=""><img src="//scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/16583370_1881979402018085_6532459409686134784_n.jpg?ig_cache_key=MTQxMTAwMDQwNjg4ODk3NTk0OA%3D%3D.2"  alt="Throwback to Hawaii earlier this year with @latravelgirl @stevhal @kingdar31st + the unfortunate person in the background 👀 #photobomb #hawaii #maui #travel #officestylestan #waterfall #goodbye2016 #tbt" title="Throwback to Hawaii earlier this year with @latravelgirl @stevhal @kingdar31st + the unfortunate person in the background 👀 #photobomb #hawaii #maui #travel #officestylestan #waterfall #goodbye2016 #tbt"  class=""/></a></li>
               </ul>
            </div>
         </section>
      </div>
      <div class="footer-widgets">
         <div class="wrap">
            <div class="footer-widgets-1 widget-area">
               <section id="simple-social-icons-2" class="widget simple-social-icons">
                  <div class="widget-wrap">
                     <h4 class="widget-title widgettitle"> </h4>
                     <ul class="aligncenter">
                        <li class="social-github"><a href="http://github.com/korenlesliecohen" target="_blank">&#xe60a;</a></li>
                        <li class="social-instagram"><a href="http://instagram.com/citygalklc" target="_blank">&#xe600;</a></li>
                        <li class="social-linkedin"><a href="https://www.linkedin.com/in/korenlesliecohen" target="_blank">&#xe603;</a></li>
                        <li class="social-rss"><a href="http://feeds.feedburner.com/korenlesliecohen" target="_blank">&#xe60b;</a></li>
                        <li class="social-twitter"><a href="http://twitter.com/korenlc" target="_blank">&#xe607;</a></li>
                     </ul>
                  </div>
               </section>
               <section id="search-4" class="widget widget_search">
                  <div class="widget-wrap">
                     <h4 class="widget-title widgettitle">Looking for something?</h4>
                     <form class="search-form" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction" method="get" action="http://www.korenlc.com/" role="search">
                        <meta itemprop="target" content="http://www.korenlc.com/?s={s}"/>
                        <input itemprop="query-input" type="search" name="s" placeholder="Search this website &#x2026;" /><input type="submit" value="Search"  />
                     </form>
                  </div>
               </section>
            </div>
            <div class="footer-widgets-2 widget-area"></div>
            <div class="footer-widgets-3 widget-area"></div>
         </div>
      </div>
      <footer class="site-footer" itemscope itemtype="http://schema.org/WPFooter">
         <div class="wrap">
            <p>Copyright 2017 Koren Leslie Cohen</p>
         </div>
      </footer>
   </div>
   <script type='text/javascript' src='http://www.korenlc.com/wp-content/uploads/custom-css-js/2886.js'></script>
   <div class="scroll-back-to-top-wrapper">
      <span class="scroll-back-to-top-inner">
      <i class="fa fa-2x fa-arrow-circle-up"></i>
      </span>
   </div>
   <div style="display:none">
   </div>
   <script type='text/javascript' src='http://www.korenlc.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
   <script type='text/javascript'>
      /* <![CDATA[ */
      var _wpcf7 = {"loaderUrl":"http:\/\/www.korenlc.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptchaEmpty":"Please verify that you are not a robot.","sending":"Sending ..."};
      /* ]]> */
   </script>
   <script type='text/javascript' src='http://www.korenlc.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.3.1'></script>
   <script type='text/javascript'>
      /* <![CDATA[ */
      var scrollBackToTop = {"scrollDuration":"500","fadeDuration":"0.5"};
      /* ]]> */
   </script>
   <script type='text/javascript' src='http://www.korenlc.com/wp-content/plugins/scroll-back-to-top/assets/js/scroll-back-to-top.js'></script>
   <script type='text/javascript' src='http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201707'></script>
   <script type='text/javascript' src='http://s.gravatar.com/js/gprofiles.js?ver=2017Febaa'></script>
   <script type='text/javascript'>
      /* <![CDATA[ */
      var WPGroHo = {"my_hash":""};
      /* ]]> */
   </script>
   <script type='text/javascript' src='http://www.korenlc.com/wp-content/plugins/jetpack/modules/wpgroho.js?ver=4.4.2'></script>
   <script type='text/javascript' src='http://www.korenlc.com/wp-includes/js/comment-reply.min.js?ver=4.4.2'></script>
   <script type='text/javascript' src='http://www.korenlc.com/wp-content/themes/industry/lib/js/viewport-units-buggyfill.js?ver=0.5.0'></script>
   <script type='text/javascript' src='http://www.korenlc.com/wp-content/themes/industry/lib/js/viewport-units-buggyfill.hacks.js?ver=0.5.0'></script>
   <script type='text/javascript' src='http://www.korenlc.com/wp-content/themes/industry/lib/js/viewport-units-buggyfill-hacks-init.js?ver=0.5.0'></script>
   <script type='text/javascript' src='http://www.korenlc.com/wp-includes/js/masonry.min.js?ver=3.1.2'></script>
   <script type='text/javascript' src='http://www.korenlc.com/wp-includes/js/jquery/jquery.masonry.min.js?ver=3.1.2'></script>
   <script type='text/javascript' src='http://www.korenlc.com/wp-content/themes/industry/lib/js/main.js?ver=0.1.0'></script>
   <script type='text/javascript' src='http://www.korenlc.com/wp-includes/js/wp-embed.min.js?ver=4.4.2'></script>
   <script src="http://stats.wordpress.com/e-201707.js" type="text/javascript"></script>
   <script type="text/javascript">
      st_go({v:'ext',j:'1:2.9.3',blog:'67483203',post:'2558',tz:'-5'});
      var load_cmc = function(){linktracker_init(67483203,2558,2);};
      if ( typeof addLoadEvent != 'undefined' ) addLoadEvent(load_cmc);
      else load_cmc();
   </script>
</body>
</html>