/* Menu/list class */

.menu {
    padding:0;
    margin:0;
    list-style:none;  

    li {
        display:inline-block; 
        padding:0 20px; 
        text-transform:uppercase;  
        /*border:1px solid red;*/ 

        @include extra-small-only {   
            padding:0 10px;             
        }
    }
}

// For hero menu only
.mobile {
     @include extra-small-only {   
        display:none;             
     }
}

.mobile_menu {
    
    @extend .menu;

    li {
        @include extra-small-only {   
            display:block;            
            padding:20px 0; 
        }
    }      
  
}

i.fa-bars {
    display:none;

    @include extra-small-only { 
        display:block;   
        font-size:30px;               
    }
}

i.fa-long-arrow-up {
    display:none;

    @include extra-small-only { 
        display:none;   
        font-size:30px; 
    }
     
}

.white_block{

    display:none;

    @include extra-small-only {
        display:none;       
        height:200px;
        /*background-color:#fff;*/
        background:transparent;        
    }
}


.menu-primary {
    
    li i {              
        font-size:30px;       
        color:#fff; 
    }  

    li:hover{
        cursor:pointer; 
    }
}

/* For photo collage */ 
.menu-secondary { 
    
    padding:0;
    margin:0;
    list-style:none;         
    /* Removes spaces between elements for inline-block*/ 
    font-size:0; 

    li {
        /*float:left;
        width:12.5%;    */
        display:inline-block;        
        width:calc(100%/8);
        @include extra-small-only {   
            width:calc(100%/4);      
        }         
        /*@include flex(0 1 12.5%);*/
        /*@include flex(1);*/
         

        img {
            /* Note that if set max-width:100% instead of width then images do not scale when screen width is increased */ 
            width:100%; 
            height:auto; 
        }

        img:hover,
        img:focus {
            cursor:pointer; 
            opacity:0.7; 
            transition:opacity 0.5s; 
        }   
    }
}

