/* Supporting */

.supporting-1 h1, 
.supporting-2 h1, 
.portfolio h1,
.cv h1 {        
    margin-bottom:20px; 
}

.supporting-1 p, 
.supporting-2 p, 
.portfolio p,
.cv p {    
    margin-bottom:20px;        
}

.supporting-1 {        
    @include colors (#27282b, #fff);
    @include position_margin_padding(center, 0, 80px 0); 

    @include extra-small-only {   
       padding:30px 20px;     
    }
    
    
    p.prose, a {
        font-size:14px; 
        font-family:"arial", sans-serif; 
        letter-spacing:0;
        line-height:1.5; 
        text-transform:none;   
        color:#fff;  
        @include extra-small-only {   
            text-align:left;      
        }    
    }

   
}

.supporting-2 {    

    @include position_margin_padding(center, 0, 100px 0 0); 

    @include extra-small-only {            
         @include position_margin_padding(center, 0, 50px 25px 0);          
    }

    .container {
        padding:0 50px;       

        @include extra-small-only {            
            padding:0; 

            p {             
                word-wrap:break-word; 
                margin:0 auto; 
            }
        }
    }

    .row {
        margin:70px 0 80px; 

        @include extra-small-only {               
            margin:50px 0 40px;
            overflow:hidden;                            
        }        
    }

    .field {
        border-radius:0; 
        height:35px; 
        text-transform:uppercase; 
        font-size:10px;
        letter-spacing:2px; 
        border:none; 
        box-shadow:none; 
        background-color:#FAFAFA; 
        margin:0 10px; 

        @include extra-small-only {
            margin:0; 
        }        
       
    }   

    .col-md-7,
    .col-md-4,
    .col-md-1 {       
        
        padding:0;  
              
   }

   @include extra-small-only {           

        .col-md-4 {
            margin-bottom:20px; 
        }
        .col-xs-12,
        .col-md-7 {            
            margin:0;            
            width:100%;  
        }

    }

    .image {
        height:250px;
        width:280px;             
    }

}

#comment {
    border:none;
    box-shadow:none; 
    text-transform:uppercase; 
    font-size:10px;
    letter-spacing:2px; 
    resize:none; /*Removes dots at bottom corner of textarea */
    background-color:#FAFAFA; 
    margin:0 10px;
    
    @include extra-small-only { 
        margin:0; 
    }
}

#wrap {
    background-color:#FAFAFA;   
    height:232px; 
    width:50px;   
    margin:0 20px;     
    
    span {
        position:relative;
        top:150px;  
    }  

    @include extra-small-only {            
        height:20px; 
        width:100%; 
        margin:0;  

        span {
           top:0; 
        }
    }

}

.supporting-4 {  

    @include colors (#27282b, #fff);
    @include position_margin_padding(center, 0, 40px 0); 

    p {        
        margin:20px 0 0;         
    }
}

.supporting-5 {    
    @include colors (#000, #fff);
    @include position_margin_padding(center, 0, 30px 0 20px); 
    @include extra-small-only {  
        p {
            font-size:0.5em; 
        }
    }
}