<!DOCTYPE html>

<html>
    <head>
        <title>Dr Matthew R. Crittall</title>

        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, intial-scale = 1">

        <!--Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!--Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Oswald|Source+Code+Pro|Tangerine" rel="stylesheet">

        <!-- link to own stylesheet -->
        <link rel = "stylesheet" type = "text/css" href = "../css/css-main_4.css"/>

         <!-- cdn link to fontawesome -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">        

        <!-- Link to page's own js -->
         <script src = "../js/crittall.js"></script>

    </head>

    <body>  
        <div class = "return"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></div>
        <div class = "border"></div>
        <div class = "header">
            <div class = "container-fluid">
                <h1><a href = "home_2.php">Dr Matthew R. Crittall</a></h1>
                <p>Senior Scientist / Medicinal Chemist / Web Designer / Software Developer</p>
                <ul class = "menu mobile">
                    <li><a href = "home_2.php#about">About</a></li>
                    <li><a href = "resume.php"></a>Resume</li>
                    <li><a href = "portfolio.php">Portfolio</a></li>
                    <li><a href = "home_2.php#contact">Contact</a></li>
                </ul>
                <i class="fa fa-bars" aria-hidden="true"></i>
                <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                <div class = "white_block">
                    <ul class = "mobile_menu">
                        <li><a href = "home_2.php#about">About</a></li>
                        <li><a href = "resume.php">Resume</a></li>
                        <li><a href = "portfolio.php">Portfolio</a></li>
                        <li><a href = "home_2.php#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class = "cv">
            <div class = "container">
                <h1>Education</h1>
               
                <h2>University of Bath, Bath, UK</h2>
                <h2>PhD in Synthetic Organic Chemistry, <span>2008 - 2012</span></h2>
                <p><span>Thesis title:</span> An Investigation into Helical Asymmetry – Design, Synthesis and Evaluation of a Helicenoidal DMAP Analogue Nucleophilic Catalyst.</p>                

                <h2>University of Bath, Bath, UK</h2>
                <h2>MChem (hons) Chemistry with Industrial Training (First Class), <span>2004 - 2008</span></h2>
                <p>Overall grade average: 77%</p>

                <h2>The Windsor Boys’ School, Windsor, Berkshire, UK</h2>
                <h2>A-Levels, <span>1999 - 2004</span></h2>
                <p><span>A-Levels: </span>Chemistry (A), Biology (A), Geography (A)<br>
                <span>GCSEs: </span>9 GCSE passes at A* (5) and A (4) including Chemistry, Maths and English</p>
                <div class = "separate"><hr></hr></div>
                <h1>Publications</h1>
                <p>Abnormal coordination of Arduengo's carbene upon reaction with M3(CO)12 (M = Ru, Os) Crittall, M. R; Ellul, C. E; Mahon, M. F;  Saker, O; Whittlesey, M. K. Dalton Transactions, <span>2008</span>, 32, 4209.<br><br>
                Design, Synthesis and Evaluation of a Helicenoidal DMAP Lewis Base Catalyst
                Crittall, M. R; Rzepa, H. S.; Carbery, D. R. Org. Lett. <span>2011</span>, 13, 1250.<br><br>
                Point-to-helical transfer for a scalable and resolution-free synthesis of a helicenoidal DMAP organocatalyst Crittall, M. R; Fairhurst, N. W. G; Carbery, D. R.   Chem. Commun., <span>2012</span>, 48, 11181.<br><br> 
                In vitro and in vivo antifungal profile of a novel and long acting inhaled azole, PC945, on Aspergillus fumigatus infection 
                Kazuhiro Ito, Thomas Colley, Pete Strong, Garth Rapeport, Gurpreet Sehra, Lauren Anderson-Dring, John Murray, Alexandre Alanio, Steven Kelly, Diane Kelly, Andrew Warrilow, Josie Parker, Yasuo Kizawa, Genki Kimura, Takahiro Nakaoki, Mihiro Sunose, Stuart Onions, Damien Crepin, Franz Legasse, Matthew Crittall, Jonathan Shannon, Michael Crooke, John King-Underwood, and Stephane Bretagne. Submitted for publication to Antimicrobial Agents and Chemotherapy <span>(2017)</span></p>
                <div class = "separate"><hr></hr></div>
                <h1>Experience</h1>
                <h2>Sygnature Discovery, Biocity, Nottingham, UK, Jan 2014 - </h2>
                <h2>Senior Scientist - Medicinal Chemistry</h2>
                <p>
                    <!--<ul>
                    <li>Responsible for providing integrated drug discovery services to a variety of clients.</li>
                    <li>Have worked in a multitude of therapeutic areas – anti-fungal, anti-cancer, type II diabetes, anti-inflammatory.</li>
                    <li>Play key role in both the design and synthesis of novel medicines and the understanding of complex pharmacokinetic and pharmacological data to drive projects.</li>
                    <li>Contributed to development and scale-up of novel anti-fungal medicines, one of which has now entered early-stage clinical trials.</li>
                    <li>Performed numerous multi-gram scale-ups to support PK and animal studies for novel type II diabetes drug candidates – one nominated for phase I clinical trials.</li>-->
                    I am responsible for providing integrated drug discovery services to a variety of clients. I have worked in a multitude of therapeutic areas – anti-fungal, anti-cancer, type II diabetes, anti-inflammatory. This has involved playing a key role in both the design and synthesis of novel medicines and the understanding of complex pharmacokinetic and pharmacological data to drive projects. In addition, I have contributed to the development and scale-up of novel anti-fungal medicines, one of which has now entered early-stage clinical trials. I have also been involved in numerous multi-gram scale-ups to support PK and animal studies for novel type II diabetes drug candidates – one of which has been nominated for phase I clinical trials</p>

                <h2>Peakdale Chemistry Services, Discovery Park, Sandwich, Kent, UK, May 2012 - Dec 2013 </h2>
                <h2>Synthetic Organic Chemist - Medicinal Chemistry</h2>
                <p>My time at Peakdale entalied taking responsibility for synthesising and delivering requested pharmaceutical targets to the customer (Pfizer). I was also a supervisor of a Microsoft Visual Basic operated high-throughput automated purification system and analytical chiral HPLC system. </p>

                <h2>Department of Investigative Pre-Clinical Toxicology, GlaxoSmithKline, Ware, Hertfordshire, UK, 2006 - 2007</h2>
                <h2>Industrial Placement Student</h2>
                <p>My time as a placement student at GSK involved developing a generic extraction method to improve analysis of the metabolome of control animal tissues. Large quantities of complex multivariate data were interpreted using Principal Component Analysis (PCA).</p>
                <div class = "separate"><hr></hr></div>

                <h1>Skills Profile</h1>
                <h2>Technical</h2>
                
                <ul>
                    <li>Highly trained synthetic organic chemist.</li>
                    <li>Highly experienced in use of chiral HPLC and LC-MS analytical technologies.</li>
                    <li>Familiar with NMR, GC-MS and Circular Dichroism (CD) analysis.</li>
                    <li>Excellent PC skills including use of Windows, Microsoft Office, ChemDraw, Spartan, Topspin and Principal Component Analysis (PCA).</li>
                    <li>Experience with multiple programming languages including C, PHP, MySQL, Javascript/JQuery, Python, HTML and CSS.</li>
                    <li>Excellent numeracy skills.</li>                   
                </ul>

                <h2>General</h2>
                <ul>
                    <li>Keen eye for detail.</li>
                    <li>Ability to analyse a problem rationally and logically, suggesting multiple solutions or alternative strategies.</li>
                    <li>Ability to complete tasks within an allotted time and to a high standard, even under pressure.</li>
                </ul>
                
                <h2>Communication</h2>
                <ul>
                    <li>Excellent presentation skills – during PhD presented scientific literature on weekly basis. Spoke at both internal and external symposiums. Presented regularly during Industrial placement year.</li>
                    <li>Good inter-personal skills – can convey ideas to others in a concise and easy to understand manner.</li>
                    <li>Team player.</li>
                </ul>

                <h2>Leadership</h2>                
                <ul>
                    <li>Lead undergraduate workshops during PhD – medicinal chemistry.</li>
                    <li>Demonstrated laboratory practice to undergraduate students.</li>
                    <li>Organised and led weekly problem sessions during PhD.</li>
                    <li>Coordinated positions of play as captain of local Hockey team.</li>
                    <li>Organised and initiated weekly band practices.</li>
                </ul>
                <div class = "separate"><hr></hr></div>
                <h1>Achievements</h1>
                <ul>
                    <li>Attended AstraZeneca Medicinal & Process Chemistry Workshop 2011.</li>
                    <li>Selected to present poster to internationally renowned audience at RSC Organic Chemistry Symposium sponsored by Pfizer Neusentis <strong>2011</strong>.</li>
                    <li>Chosen to represent Organic Chemistry at the University of Bath, giving presentation on PhD work to audience which included editors of <em>JACS</em> and <em>Chem Comm</em>.</li>
                    <li>Selected as one of nine candidates from over 500 applicants to be considered for entry onto the Novartis process manager (chemistry) graduate programme 2012. </li>                    
                </ul>
                <div class = "separate"><hr></hr></div>
                <h1>Interests</h1>
                <ul>
                    <li>Keen runner – I have participated in three half-marathons and one marathon (Berlin 2013)</li>
                    <li>Play badminton on a weekly basis to high standard. Keen tennis player also.</li>
                    <li>Achieved rank of 6th Kyu in Karate.</li>
                    <li>Play both the electric and bass guitar, regularly organising practices and live events.</li> 
                    <li>Travelled 8 countries of continental Europe in 12 days.</li>           
                </ul>

            </div>
        </div>
        <div class = "supporting-3">
            <div class = "container-fluid">
                <ul class = "menu-secondary">
                    <li><img src = "../images_portfolio/moody2.jpg"/></li>
                    <li><img src = "../images_portfolio/party2.jpg"/></li>
                    <li><img src = "../images_portfolio/cyprus3.jpg"/></li>
                    <li><img src = "../images_portfolio/cyprus4.jpg"/></li>
                    <li><img src = "../images_portfolio/alps2.jpg"/></li>
                    <li><img src = "../images_portfolio/guitar2.jpg"/></li>
                    <li><img src = "../images_portfolio/running3.jpg"/></li>
                    <li><img src = "../images_portfolio/boat2.jpg"/></li>                    
                </ul>
            </div>
        </div>
        <div class = "supporting-4">
            <div class = "container">
                <ul class = "menu menu-primary">
                    <li><a href = "https://github.com/mrcrittall2016"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                    <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
                    <li><a href = "https://www.linkedin.com/in/matthew-crittall-0ba83654/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                    <li><a href = "https://www.facebook.com/mattcrittall"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                </ul>
                <p>Connect</p>
            </div>
        </div>       
        <div class = "supporting-5">
            <div class = "container"></div>
            <p>Copyright 2017 Matthew R. Crittall</p>
        </div>        
    </body>    
</html>