
/* Files to include */
@import "base/mixins.scss"; 
@import "base/media-queries.scss"; 

/* Base styles */
html, 
body {
    /* Margin, padding, height and width settings ensure html/body extends to far reaches of window */
    margin:0;
    padding:0;    
    min-height:100%; 
    width:100%; 
    font-family:"Montserrat", arial, sans-serif;      
}

body {    
    min-height:100vh; /*If not enough content on page, ensures body at least reaches base of view...but still leaves whitespace. If do not fill the rest of the page then need to create sticky footer*/  
}

[class *= "col-md-"]{
    /*border:1px solid red; */
    /*height:100px;*/
}

.container, 
.container-fluid {         
    margin:0 auto;   
    padding:0;    
}

.container {
    max-width:960px; 
}

/* Ensure row stays within bounds of container */
.row {
    margin:0;         
}

.col-md-6 {
    padding:0; 
}

h1 {
    text-transform:uppercase;  
    font-weight:bold; 
}

p {
    font-size:12px; 
    text-transform:uppercase; 
    letter-spacing:2px;
}

a {
    text-decoration:none; 
    color:#000;   
    transition:font-weight 0.5s;  
    border:none;    
}

a:hover {
   @extend a; 
   font-weight:bold;
}

a:focus{
    @extend a; 
    outline:none;    
}

/* Border at top of page */
.border {
    height:10px; 
    background-color:#000; 
}

/* Background class */

/* See here how to position a background image and adjust its opacity: https://scotch.io/tutorials/how-to-change-a-css-background-images-opacity */
.background {          
    position: relative;    
    overflow: hidden;   
    height:800px;    
}

.background:before {
    background: url("../images_portfolio/spiral2.jpg") no-repeat fixed center center;
    background-size:cover;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
}

/* Menu/list class */
.menu {
    padding:0;
    margin:0;
    list-style:none;  
}

/* Extend class for different list stylings */ 
.menu-default {

    li {
        display:inline-block; 
        margin-right:40px; 
        text-transform:uppercase; 

       
        @include extra-small-only {            
            margin-left:0; 
            margin-right:0; 
            padding:0 20px
        }
        
    }

}

.menu-primary {

    li {
        
        display:inline-block; 
        font-size:30px;
        margin-right:40px; 
        color:#fff; 

        @include extra-small-only {            
            margin-left:0; 
            margin-right:0; 
            padding:0 20px
        }        

    }
}

.menu-secondary {
   
    li {
        float:left;
        width:12.5%;
    }       

}

/* Header section */
.header {

    @include position_margin_padding (center, 0, 0);
    color:#000;    

   .container-fluid {
     margin:150px 0 200px;
   }

   h1 {
      font-size:26px;  
      letter-spacing:10px;   

      @include extra-small-only {
        margin-bottom:30px; 
        line-height:1.5;            
      }    
   }

   p {
     margin-bottom:50px; 
   } 

}


/* Supporting */

.supporting-1 h1, 
.supporting-2 h1, 
.portfolio h1 {
    font-size:20px;     
    margin-bottom:20px; 
}

.supporting-1 p, 
.supporting-2 p, 
.portfolio p {    
    margin-bottom:20px;        
}

.supporting-1 {        
    @include colors (#27282b, #fff);
    @include position_margin_padding(center, 0, 80px 0); 

    .prose{
        font-size:14px; 
        font-family:"arial", sans-serif; 
        letter-spacing:0;
        text-transform:none; 
    }
}

.supporting-2 {    

    @include position_margin_padding(center, 0, 100px 0 0); 

    @include extra-small-only {   
          @include position_margin_padding(center, 0, 50px 0 0);
    }

    .container {
        padding:0 50px; 
    }

    .row {
        margin:70px 0 80px; 

        @include extra-small-only {   
            margin:50px 0 40px; 
        }        
    }

    .field {
        border-radius:0; 
        height:35px; 
        text-transform:uppercase; 
        font-size:10px;
        letter-spacing:2px; 
        border:none; 
        box-shadow:none; 
        background-color:#FAFAFA; 
        margin:0 10px; 
    }   

    .col-md-7,
    .col-md-4,
    .col-md-1 {
        height:250px; 
        padding:0;   
              
   }

   @include extra-small-only {   

        .col-md-4 {
            margin-bottom:20px; 
        }
        .col-xs-12 {
            height:20px; 
            margin:0; 
        } 
    }

    .image {
        height:250px;
        width:280px;             
    }

}

#comment {
    border:none;
    box-shadow:none; 
    text-transform:uppercase; 
    font-size:10px;
    letter-spacing:2px; 
    resize:none; /*Removes dots at bottom corner of textarea */
    background-color:#FAFAFA; 
    margin:0 10px; 
}

#wrap {
    background-color:#FAFAFA;   
    height:232px; 
    width:50px;   
    margin:0 20px; 
    
    span {
        position:relative;
        top:150px;  
    }  

    @include extra-small-only {            
        height:20px; 
        width:100%; 
        margin:0 10px; 

        span {
           top:0; 
        }
    }

}

.supporting-4 {  

    @include colors (#27282b, #fff);
    @include position_margin_padding(center, 0, 40px 0); 

    p {
        position:relative;
        right:20px; 
        top:20px; 

        @include extra-small-only {            
            left:5px; 
        }
    }
}

.supporting-5 {    
    @include colors (#000, #fff);
    @include position_margin_padding(center, 0, 30px 0 20px); 
}

/* Portfolio */

/* Seems like the best way to size images is to first create a placeholder for them of set size within grid ie 
outer-box. Then scale image in separate editor (GIMP) to this size. Place within placeholder setting width to 100% and height auto */ 

.portfolio {   
    text-align:center;      
}

.entry {    
    padding:0; 
    margin:0 0 65px; 
}

.entry-content {
    border-bottom:2px solid #fafafa;
    padding:0 0 40px;

    > p {
        margin-bottom:50px; 
    }
}

.outer-box {
    width:370px;
    height:250px;
    display:block; 
    position:relative;
    margin:0 auto 20px;
    overflow:hidden;

    img {
        width:100%;
        height:auto;
        margin:0 auto; 
    }     
}

.inner-box {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    padding:0;
    opacity:0;
    transition:opacity 0.5s; 

    h4 {
        line-height:225px; 
    }
}

.inner-box:hover {
    opacity:0.9;
    background-color:#f9f9fa; 
    cursor:pointer; 
}

.col-md-6 {

    a > h4 {
        letter-spacing:1.5px;
        text-transform:uppercase;
        font-size:16px;
        font-weight:bold;
        margin-bottom:30px; 
    }
}

/* Modal styles */

/* Set Modal position when open click on image. See here: http://stackoverflow.com/questions/20313798/bootstrap-3-modal-position */

/* Custom modal class.. using SCSS nesting below */

.modal-customise {

    .modal-content {
        border:2px solid #000; 
    } 

    .modal-dialog {
        position:relative;
        top:25%; /* 200px also looked quite nice */
    }

    .modal-header, 
    .modal-footer {
        border:none; 
        text-align:center;
        padding:30px; 
    }

    .modal-header {

        h4 {
            letter-spacing:2px;
            text-transform:uppercase; 
            font-weight:bold;   
            margin:0;  
        }
    }

    /* Style and position modal close button */
    .modal-header {

        .close {
            position:absolute; 
            top:-17px;
            right:-23px;    
            border-radius:100%;     
            height:30px;
            width:30px;
            font-size:20px; 
            opacity:1;
            color:#fff;
            background-color:#000;
            border:1px solid #fff;
        }

    }

    .modal-body {   
        padding:0 30px;

        p {
            line-height:2;    
            font-family: 'arial', sans-serif;
            text-transform:none; 
            font-size:12px;    
            margin:0; 
            letter-spacing:0; 
            text-align: justify;

            span {
                font-weight:bold; 
                text-decoration:none; 
                padding-bottom:0; 
            }
        }

    } 

    .modal-footer {
        p {
            margin:0;
            font-weight:bold; 
        }    
    }
    
}





